body{
  margin:0;
  font-family:Arial;
  background:#f4f6f8;
}

header{
  background:#0d47a1;
  color:white;
  padding:15px;
  text-align:center;
}

nav a{
  color:white;
  margin:10px;
  text-decoration:none;
  font-weight:bold;
}

section{
  background:white;
  margin:20px;
  padding:20px;
  border-radius:8px;
}

footer{
  background:#111;
  color:white;
  text-align:center;
  padding:10px;
}
</body>
</html>
